:root {
    --var-grey: rgb(63, 63, 63);
    --var-grey-opaque: rgba(63, 63, 63, 0.123);
    --var-violet-text: rgb(121, 31, 255);
    --var-violet-clear: rgb(131, 46, 255);
    --var-violet: rgb(131, 36, 255);
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(to bottom right, #000000 0%, #0c0c0c 80%, #161616 95%);
    background-attachment: fixed;
    margin: 0px;
    color: white;
}

ul {
    list-style-type: disc;
}

.header {
    padding-top: 1px;
    height: 52px;
    border-bottom: 2px solid var(--var-grey);
}

.header-content {
    padding-left: 16px;
}

.main-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 56px;
    padding-bottom: 56px;
    border-bottom: 2px solid var(--var-grey-opaque);
}

.flex-container-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 56px;
    border-bottom: 2px solid var(--var-grey-opaque);
}

.flex-container-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    padding: 56px;
}

.main-container-div {
    width: 40%;
    padding: 56px;
}

.contacto {
    padding-top: 56px;
}

#main-container-div-2 {
    display: flex;
    background-color: var(--var-violet);
    border-radius: 24px;
    justify-content: center;
    font-size: 1.30em;
    box-shadow: 0px 0px 32px 8px var(--var-violet-clear);
    text-shadow: 1px 1px 8px rgba(255, 255, 255, 0.836);
}

#nico {
    text-shadow: 0px 0px 6px var(--var-violet-text);
}

@media (max-width: 1200px) {

    body {
        overflow-x: hidden;
    }

    .main-flex-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
    }

    .main-container-div {
        padding: 64px;
        width: auto;
    }

    .flex-container-2 {
        display: flex;
        flex-direction: column;
    }
    

    .flex-container-3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #main-container-div-2 {
        display: flex;
        justify-content: center;
        font-size: 1em;
        padding: 1em;
    }

    #introduction {
        text-align: center;
    }

}